#pie, .bar, #line {
    /* border: 1px solid black;
    border-radius: 10px; */
    width: 800;
    height: 400;
}

canvas{
    display: block;
    margin:0 auto;
    border: 1px solid black;
}

p {
text-align: center;
}